.App {
  text-align: center;
  background-image: url('pages/images/background-pattern.jpg');
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

#logo {
  background-image: url('../src/pages/images/airplane-logo.png');
  z-index: 1;
  background-repeat: no-repeat;
  background-position-y: 5%;
  background-position-x: 50%;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

body,
html {
  height: 100%;
}

.App-intro {
  font-size: large;
}

.burner-pages {
  text-align: center;
  font-size: 32pt;
  font-weight: bold;
  color: white;
}

#create {
  text-align: center;
  position: relative;
  margin-top: 20px;
  color: #164e87;
  font-size: 12pt;
  font-family: 'Courier New';
  font-weight: bold;
}

#why-us {
  border-style: solid;
  margin: auto;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  border-style: groove;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;

  /* background: #8360c3; fallback for old browsers */
  /* background: linear-gradient( #8360c3, #2ebf91); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 55%;
  height: 325px;
  padding: 30px;
  position: relative;
}

#logo-image {
  height: 200px;
  width: 150px;
  background-image: url('../src/pages/images/logo-2.png');
}

.why-us:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.description {
  text-align: left;
  font-size: 36pt;
  color: white;
  font-weight: 750;
  padding: 0px;
}

.company-image {
  background-image: url('../src/pages/images/logo-2.png');
  height: 30px;
  width: 20px;
  z-index: 1;
}

.caption {
  text-align: left;
  font-size: 12pt;
  color: white;
}

#creating-button {
  position: relative;
  margin-top: 10px;
  background-color: #1a237e;
  color: white;
  width: 18em;
}

#creating-button:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.home-button {
  text-align: center;
  background-color: #1a237e;
  color: white;
  width: 18em;
  position: relative;
}

.home-button:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

body {
  min-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-image: url("pages/images/background.jpg"); */
  background: #7f7fd5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #91eae4,
    #86a8e7,
    #7f7fd5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #91eae4,
    #86a8e7,
    #7f7fd5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
